<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interweave Blueskies Forever</title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <h1>Interweave <span class="sub-heading">Blueskies Forever</span></h1>
        <p class="button-container-label">Sort posts by...</p>
        <div class="button-container">
            <button hx-target="#post-stats" hx-get="/stats?sort=time">
                <img class="simple-icon" src="static/icons/time.svg" alt="clock icon" />
                <p>Time</p>
            </button>
            <button hx-target="#post-stats" hx-get="/stats?sort=likes">
                <img class="simple-icon" src="static/icons/heart.svg" alt="heart icon" />
                <p>Likes</p>
            </button>
            <button hx-target="#post-stats" hx-get="/stats?sort=replies">
                <img class="simple-icon" src="static/icons/comment.svg" alt="comment bubble icon" />
                <p>Replies</p>
            </button>
            <button hx-target="#post-stats" hx-get="/stats?sort=reposts">
                <img class="simple-icon" src="static/icons/refresh-cw.svg" alt="refresh icon" />
                <p>Reposts</p>
            </button>
            <button hx-target="#post-stats" hx-get="/stats?sort=quotes">
                <img class="simple-icon" src="static/icons/comment-text.svg" alt="comment with writing in it message bubble icon" />
                <p>Quotes</p>
            </button>
            <button hx-target="#post-stats" hx-get="/stats?sort=characters">
                <img class="simple-icon" src="static/icons/pencil-create.svg" alt="pencil icon" />
                <p>Characters</p>
            </button>
        </div>
        <div id="post-stats" hx-trigger="load, every " hx-get="/stats">Post stats will appear here</div>
    </main>
</body>
</html>