<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Interweave Blueskies Forever</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="static/icons/favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <h1>Interweave <span class="sub-heading">Blueskies Forever</span></h1>
    <form class="config"
          data-hx-post="/stats"
          data-hx-target="#post-stats"
          data-hx-indicator=".indicator"
          data-hx-trigger="submit">

        <div class="user-info">
            <div>
                <label for="username"><p class="no-line-height">Username</p></label>
                <input type="text" id="username" name="username" placeholder="you.bsky.social" required>
            </div>
            <div>
                <label for="password"><p class="no-line-height">Password</p></label>
                <input type="password" id="password" name="password" required>
                <p class="tiny-text no-line-height">We never store your password.</p>
            </div>
        </div>

        <button type="submit" class="stats-button"><span>Grab<span
                class="indicator htmx-indicator">bing</span> Stats</span> <img id="indicator"
                                                                               class="indicator htmx-indicator"
                                                                               src="static/icons/loading.gif"
                                                                               width="16px"/>
        </button>

        <div>
            <label for="sort">Sort posts by</label>
            <select id="sort" name="sort" data-hx-post="/stats" data-hx-target="#post-stats"
                    data-hx-indicator=".indicator" data-hx-trigger="change">
                <option value="time">Time</option>
                <option value="likes">Likes</option>
                <option value="replies">Replies</option>
                <option value="reposts">Reposts</option>
                <option value="quotes">Quotes</option>
                <option value="characters">Characters</option>
            </select>
        </div>
    </form>

    <div class="indicator htmx-indicator">
        <div class="post-skeleton">
            <div class="metrics"></div>
            <div class="content"></div>
        </div>
        <hr>
        <div class="post-skeleton">
            <div class="metrics"></div>
            <div class="content"></div>
        </div>
        <hr>
    </div>

    <div id="post-stats">
        <div class="post-empty-state"><p>To get your stats:</p>
            <ol>
                <li>Put in your username and password</li>
                <li>Hit "Grab Stats"!</li>
            </ol>
        </div>
    </div>
</main>
</body>
</html>
